<div ng-include="'final/innerNavbar.html'"></div>
<div class="container">
<div class="row" ng-if="ratingExceedAlert">
  <div class="alert alert-danger alert-dismissible" style="top: auto; position: absolute; width: min-content;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Danger!</strong> Your combined players ratings can't exceed 100
  </div>
</div>
<div class="row" ng-if="userElevenError">
  <div class="alert alert-danger alert-dismissible" style="z-index:999;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hideError()"><span aria-hidden="true">&times;</span></button>
    Need {{ playersRequired }} more player(s) to play a match.
  </div>
</div>
</div>
<div class="container" style="padding-top: 150px;">
    <div class="hidden-xs hidden-sm" ng-include="'final/desktop/FantasyCricketDesktop.html'"></div>
    <div class="visible-xs visible-sm" ng-include="'final/mobile/FantasyCricketMobile.html'"></div>
</div>